{% extends 'base.html' %}

{% block content %}
    <div class="row center-align">
        <h1>Welcome to NoteManager!</h1>
        <p>Take control of your notes and stay organized with NoteManager.</p>
    </div>
    <div class="row center-align">
        <a href="{{ url_for('register') }}" class="btn-large waves-effect waves-light purple accent-2">Get Started</a>
        <a href="{{ url_for('login') }}" class="btn-large waves-effect waves-light white purple-text text-accent-2">Log In</a>
    </div>
{% endblock %}